:root{
    --vermelho: #E50914;
    --preta: #231f1f;
}
*,
*:before,
*:after{
    margin:0;
    padding:0;
    box-sizing: border-box;
}

/*Barra de rolagem*/

html::-webkit-scrollbar{
    width: 0.5rem;
    background: #231f1f;
}

html::-webkit-scrollbar-thumb{
    background: var(--vermelho);
    border-radius: 5rem;
}

/*elementos base*/
body {
    background: var(--preta);
    font-family:Arial, Times, serif;
    color:white;
}


header .container{
    display: flex;
    flex-direction: row;
    align-items:center;
     
        
}

header .logo{
    margin-left: 5px;
    color: var(--vermelho);
    font-family: 'Arial Black', Times;
    margin-right:150px;
    }

.navbar {
    display: flex;
    column-gap: 3rem;
    list-style: none;
}

.navbar li {
    position: relative;
}


.navbar a{
    font-size: 1rem;
    font-weight: 500;
    color: white;
}

.navbar a::after {
    content: "";
    width: 0;
    height: 2px;
    background: #E50914;
    position: absolute;
    bottom: -4px;
    left:0;
    transition: 0.6 all linear;
}

.navbar a:hover::after,
.navbar .pagina-acionada::after {
    width: 100%;
}

#menu-icon {
    font-size: 24px;
    cursor: pointer;
    z-index: 1000001;
    display: none;
}

header.shadow{
    background: white;
}
/*botão sign in*/

.botaoS{
    display: block;
    background-color: rgba(0,0,0,.50);
    border: none;
    color: white;
    border-radius: 5px;
    padding: 8px 8px;
    margin-right: 80px;
    cursor: pointer;
    transition: .3s ease all;
    }
    
    .botaoS:hover{
        background-color: var(--vermelho);
        color:black;
    }

 /*botão de pesquisa*/

.search-box{
    top: 50%;
    left: 50%;
    background: var(--preta);
    height: 35px;
    border-radius: 30px;
    padding: 3px;
    margin-left: 100px;
}

.search-btn{
    float: left;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    background: var(--preta);
    display: flex;
    justify-content: center;
    align-items: center;
}

.search-txt{
    border: none;
    background: none;
    outline: none;
    float: left;
    padding:0;
    font-size: 16px;
    transition: 0.4s;
    line-height: 30px;
    width:0px;
}

.search-box:hover > .search-txt{
    width: 140px;
    padding: 0 6px;
}

/*Filmes principais - Swiper*/

.conatiner{
    width: 100%;
    min-height: 640px;
    position: relative;
    display: flex;
    background: rgb(2, 3, 7, 0.4);
    margin-bottom:30px;
    background-size: cover;
    flex-direction: column;
    justify-content: center;
    align-items:flex-start;
}

.conatiner img{
    position: absolute;
    width:100%;
    height:100%;
    object-position: center;
    z-index:-1;
}

.Filmes-principais .conatiner{
    width:70%;
}

.swiper-pagination-bullet{

    position: relative;
    top:4px;
    width: 6px !important;
    height: 6px !important;
    border-radius: 0.2rem !important;
    background: white !important;
    opacity: 1 !important;
}

.swiper-pagination-bullet-active{
    width: 1.5rem !important;
    background: var(--vermelho) !important;
}

/*Nome Filme*/

.Nome-filme{

    padding: 10px 50px;
    width: 350px;
    height: 200px;
    position: relative;
    display: flex;
   
}


/*Botão de play e de favoritar*/

.botao{
    
    position: relative;
    top:230px;
    left: 20px;
    background-color: rgba(0,0,0,.50);
    border: 3px solid;
    color: white;
    border-radius: 10px;
    margin-right: px;
    padding: 15px;
    margin-right: 10px;
    cursor: pointer;
    transition: .3s ease all;
    }
    
    .botao:hover{
        background-color: white;
        color:black;
    }

    .botao i{
        margin-right: 6px;
    }

/*Cabeçalho*/

.cabecalho{

    max-width: 968px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 7px;
    font-size: 1.2rem;
    font-weight: 500;
    text-transform: uppercase;
    border-bottom: 1px solid var(--vermelho)
}


/*caurosel de filmes têndencias*/

.box-filme{
     height:70%;
     margin-top:7px;
     width:70%;
     display:block;
}

.box-filme:hover{

    transform: translateY(-10px);
    transition: 0.2s all linear;
}

/*Newsletter*/

.newsletter{
    max-width: 968px;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    row-gap: 2rem;
}

.newsletter h2{
    text-align: center;
    font-size: 1.2rem;
    font-weight: 600;
}

.newsletter form {
    background: white;
    padding: 10px;
    border-radius: 0.5rem;
    display: flex;
    align-items: center;
}

.newsletter form input{
    border: none;
    outline: none;
}

.newsletter form .email{
    width:280px;
}

.newsletter form input::placeholder{
    color:#AAA;
    font-size: 0.8rem;
    font-weight: 400;
}

.newsletter .btn{
    text-transform: uppercase;
    font-weight: 500;
    cursor: pointer;
}

.btn{
    padding: 0.7rem 1.2rem;
    background: var(--vermelho);
    color: white;
    font-weight: 400;
    border-radius: 0.5rem;
}

.btn:hover{
    background: #231f1f;
}

/*redes sociais*/

.footer{
    margin-top: 40px;
    max-width: 968px;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    justify-content: space-between;
}


.sublinhado{
    margin-bottom: 7px;
    font-size: 1.2rem;
    font-weight: 500;
    text-transform: uppercase;
    border-bottom: 1px solid var(--vermelho)    
}

.social{
 display: flex;
 align-items: center;
 column-gap: 0.5rem;   
}

.social .fab{
    background: white;
    padding: 3px;
    font-size: 2rem;
    border-radius: 50%;
    border: 4px solid rgb(2, 3, 7, 0.4);
    color: var(--vermelho);
}

.social .fab:hover{
    background: var(--vermelho);
    color:white;
    transition: 0.2s all linear;
}

/*Copyright*/

.copyright {
    padding: 20px;
    text-align: center;
    color: White;
}

