

@media (max-width:920px) {
    .navbar {
        position: relative;
        z-index: 10;
        top: 100px;
    }

    .home-text{
        padding: 0 100px;
    }
}

@media (max-width: 991px) {
    header{
        padding: 18px 4%;
    }
    

    section{
        padding: 50px 4%;
    }
    .home-text h1{
        font-size: 3rem;
    }
}

@media (max-width: 950px){
    header {
        padding: 12px 4%;
    }

    #menu-icon {
        display: initial;
        color: white;
    }

    #navbar.active  {
        display:block;
        

    }

    .navbar {
        position: absolute;
        z-index: 10;
        top: 70px;
        width: 100%;
        left: 0;
        right: 0;
        display: flex;
        flex-direction:column;
        background: white;
        row-gap: 1.4rem;
        padding: 20px;
        box-shadow: 4px 4px 0 4px rgb(14 55 54 / 15%);
        transition: 0.2 all linear;
        text-align: center;
    }
    
    .navbar a {
        color:black;
        width: 100%;
    }
    .navbar a:hover {
        color: var(--vermelho);
        border-bottom: 2px solid var(--vermelho);
    }
    .navbar a::after {
        display: none;
    }
    
  
    
}